.layout-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.logo-container {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  
  h2 {
    margin: 0;
    font-weight: 500;
  }
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 16px; // Espacio entre icono y texto
}

.main-content {
  background-color: #f4f6f9;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.content-wrapper {
  padding: 24px;
}